body {
  color: white;
  font-family: "Darker Grotesque";
  font-size: 19px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.App {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);  display: flex;
  flex-direction: column;
  align-items: center;

}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  max-width: 900px; 
  height: auto; /* Adjust height to auto */
  padding: 20px; 
  animation: fadeInAnimation ease 3s; /* Apply the animation to .header */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;margin: 10px; 
}

.font {
  font-family: "Meow Script";
  font-size: 50px
}

.header h1,
.header p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.header p > *:not(:first-child) {
  margin-left: 20px; 
  margin-right: 5px;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  background-color: rgba(206, 206, 206, 0.2);
  padding: 20px; 
  margin: 10px; 
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  animation: fadeInAnimation ease 3s; /* Apply the animation to .header */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.timeline-item {
  margin-bottom: 20px;
}

.timeline-date {
  margin-right: 20px;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  display: inline-block;
}

.timeline-title {
  margin-bottom: 5px;

}
