body {
  color: white;
}

.App {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);  display: flex;
  flex-direction: column;
  align-items: center;

}

.header {
  flex-direction: column;
  width: 100%; 
  max-width: 900px; 
  height: 90px;
  padding: 20px; 
  margin: 10px; 
}

.header p {
  display: flex;
  align-items: center;
}

.header p > *:not(:first-child) {
  margin-left: 20px; 
  margin-right: 5px;
}

/*.info {
  width: 100%;
  max-width: 1000px;
  background-color: rgba(206, 206, 206, 0.2);
  padding: 20px; 
  margin: 10px; 
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  
}*/

.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  background-color: rgba(206, 206, 206, 0.2);
  padding: 20px; 
  margin: 10px; 
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.timeline-item {
  margin-bottom: 20px;
}

.timeline-date {
  margin-right: 20px;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  display: inline-block;
}

.timeline-title {
  margin-bottom: 5px;

}